
/* ELEMENTS DARK MODE */

* {
    color: white;
}

body{
    background-color: rgb(24, 26, 28);
}

.corpo {
    background-color: rgb(24, 26, 28);
    display: flex;
    align-items: center;
    max-height: 100vh;
    white-space: nowrap;
    overflow-x: auto;
} 

.Container {
    height: 100%;
    background-color: rgb(44, 46, 48);
    border-radius: 10px;
    margin: 30px 5% 30px 5%;
    padding: 15px 10px 30px 10px;
}

.Receptor {
    background-color: rgb(105, 105, 105);
    width: 20em;
    height: 65vh;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 10px 0px 10px;
    overflow-y: auto;
    display: inline-block;
}

.Arrastavel {
    background-color: rgb(64, 64, 64);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Arrastavel:hover {
    background-color: rgb(144, 144, 144);
    border: 1px solid rgb(229, 229, 229);
    cursor: pointer;
}

.Menu3Pontos {
    background-image: url(./assets/tres_pontos_white.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
.Menu3Pontos:hover {
    cursor: pointer;
    background-color: rgb(144, 144, 144);
}

.PointsContainer {
    display: flex;
    justify-content: space-between;
}

.MenuHamburguer {
    width: 20px;
}


.Check {
    width: 20px;
    height: 20px;
}

.Cabecalho {
    background-color: rgb(44, 46, 48);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.CreateNewColumn {
    background-color: rgb(105, 105, 105);
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px white;
    margin-left: 10vw;
}

.CreateNewColumn:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

.CircleContainer {
    width: 60px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-right: 10vw;
    border-radius: 16px;
    padding: 5px;
    display: flex;
}

.CircleContainer:hover {
    cursor: pointer;
}

.Circle {
    width: 25px;
    height: 25px;
    background-color: rgb(57, 57, 57);
    border-radius: 16px;
}




.FundoPreto {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.789);
    display: flex;
    justify-content: center;
    z-index: 2;
    display: none;
}

.DigiteTitulo{
    width: 20em;
    height: 12em;
    background-color: rgb(44, 46, 48);
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    z-index: 3;
}

.TitleDig {
    width: 20em;
    height: 20px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(105, 105, 105);
}

.TitleDig:focus {
    outline-offset: 0;
}

.SubmitTitle {
    background-color: rgb(9, 153, 122);
    padding: 10px;
    color: white;
    margin-top: 10px;
}

.SubmitTitle:hover {
    background-color: rgb(40, 215, 157);
    cursor: pointer;
}